.two{
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}
blockquote{
    font-size: 36px;
    font-weight: light;
    font-style:italic;
    color :#1F2937;
    width: 65%;
    
}
blockquote>samp{
    display: block;
    float: right;
}
blockquote>p{
    width: 60%;
}
.three>.container{
    background-color: #3882F6;
    margin: 60px;
    border-radius: 5%;
    justify-content: space-between;
    height: 100px;
    width: 60%;
}
.p{
    margin:0;
    margin-left: 80px;
}
.p.gra{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.p.smol{
    font-size: 15px;
    color: #E5E7EB;
}
.three>.container>button{
    border: solid white;
    margin-right: 90px;
    height: 40px;
    width: 80px;
}