.img,.div_img{
    width: 90px;
}
.img{
    border: solid #3882F6;
    border-radius: 15% ;
}
.one>.container{
    width: 70%;
}
.one{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_img>p{
    margin: 0;
    margin-bottom: 60px;
}
h2{
    font-weight: bold;
    font-size: 36px;
    color: #1f2937;
}